
</div>
<footer class="blog-footer">
  <p>Blog website developed by <a href="https://twitter.com/j_queeee">@j_queee</a>.</p>
  <p>Copyright 2021 @ Tech Journal | All Right Reserved</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
<!-- <div class="footer-padding"></div>
  <div class="footer">
    <p>copyright @ myblog</p>
  </div> -->
</div>
</body>
</html>
