<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tech Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="images/favicon.ico">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">TECH JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">

      <div class="jumbotron p-4 p-md-5 text-black rounded bg-lightgrey header">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">New Technology Trends</h1>
          <p class="lead my-3">Although technologies are emerging and evolving all around us, these top 9 new technology
             trends offer promising career potential now and for the foreseeable future.</p>
          <p class="lead mb-0 btn btn-outline-primary"><a href="/sign-up" class="text-black font-weight-bold">Sign up here...</a></p>
        </div>
      </div>
